body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(195, 221, 243);
  
}
.calc{
  width: 200px;
  height: auto;
  border: 2px rgb(13, 12, 12) solid;
  background-color: rgb(148, 157, 157);
  box-shadow: 2px 2px 2px 2px rgb(116, 118, 118);
  border-radius: 10px;
  margin-top: 100px;
}
.display{
  margin: 8px;
  font-size: 25px;
  width: 90%;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(214, 203, 203);
  background-color: rgba(8, 247, 80, 0.4);

}
.button{
  width: 45px;
  height: 45px;
  margin: 5px;
  border-radius: 5px;
  border-color: rgb(290, 1125, 957) ;
  box-shadow: 1px 1px 1px 1px rgb(47, 111, 164);
  font-size: large;
  font-weight: 600;

  
}
.button:active{
  box-shadow: red;
}
.bt{
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  align-items: center;
  justify-content: space-around;
 }
/* #ac{
  background-color: rgb(219, 17, 64);
  /* border-color: rgb(219, 17, 64);
  box-shadow: 1px 1px 1px 1px rgb(187, 15, 35); */
/* }
#c{
  background-color: rgb(219, 17, 64);
  border-color: rgb(219, 17, 64);
  box-shadow: 1px 1px 1px 1px rgb(187, 15, 35);
} */ 